*.pdf
.gitignore
.ipynb_checkpoints/
__pycache__/
utils/__pycache__/
hmmlearn_YG/
Tutorial/

ctm/
exp/
data/train
data/test
data/lang
data/local/lang
data/local/tmp
data/local/dict/lexiconp.txt
mfcc/

sub_train.txt
sub_test.txt
label_train.txt
label_test.txt
